@using SportsClub.Models.Dtos
﻿<h3>WorkoutForm</h3>

@code {
    private WorkoutDto _workout = new WorkoutDto();
    private bool _submitSuccessful;
    private string? _errorMessage;




    private async Task SubmitForm()
    {
        await Task.Delay(100);
        var response = new { WorkoutId = 1, ResponseCode = 201 }; //await Mediator.Send(new AddTrailRequest(_workout));
        if (response.WorkoutId == -1)
        {
            _errorMessage = "There was a problem saving your new workout.";
            _submitSuccessful = false;
            return;
        }

        _workout = new WorkoutDto();
        _errorMessage = null;
        _submitSuccessful = true;
    }
}