@inject NavigationManager NavManager

<div class="jumbotron">
    <h1 class="display-4 text-center">Welkom bij BRESS workouts</h1>
    <p class="lead text-center">zoek je favoriete les!</p>
    <p class="mt-4">
        <input @onkeydown="SearchForWorkout"
               @bind="_searchTerm"
               @bind:event="oninput"
               type="text"
               placeholder="Search for a workout..."
               class="form-control form-control-lg" />
    </p>
</div>

@code {
    private string _searchTerm = "";

    private void SearchForWorkout(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;

        NavManager.NavigateTo($"/search/{_searchTerm}");
    }
}
